.main {
  background-color: #f8fafc;
}
.content-wrap {
  margin-top: -150px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border: 1px solid #dcddde;
  border-radius: 1rem;
}